/*style for reader*/

.img_avatar{
    width: 55px;
    height: 50px;
    display:inline;
    position: absolute;
}

    .img_avatar:hover {
        width: 65px;
        height: 50px;
        box-shadow:inset;
    }

.name_avatar {
     position: relative;float: right;margin-left: 5px; padding: 15px;
}
.list_reader{
    padding-top: 25px;
}