@{
    ViewBag.Title = "TraSach";
    Layout = "~/Views/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_style.css")">

<div class="middle-content">
    <h1 class="text-center">Quản lý trả sách</h1>
    <h2 class="text-right" style="margin-right: 200px">Ngày trả sách: .../.../.....</h2>
    <form class="form-inline" role="form">
        <div style="max-width: 500px; margin:auto">
            <div class="row">
                <div class="col-md-9 form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Mã đọc giả</div>
                        <input type="text" class="form-control" placeholder="Mã đọc giả">
                    </div>
                </div>
		    </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-9 form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Mã sách</div>
                        <input type="text" class="form-control" placeholder="Mã sách">
                    </div>
                </div>
                <div class="col-md-3 ticket-item">
	                <a class="ticket-btn" href="#" style="margin:0px; padding:8px">Xem</a>
                </div>
            </div>              	
        </div>
    </form>
    <table class="responstable">
        <tr>
        <th width="6%" class="text-center">STT</th>
        <th width="43%" class="text-center">Tên sách</th>
        <th width="13%" class="text-center">Ngày mượn</th>
        <th width="13%" class="text-center">Ngày trả</th>
        <th width="14%" class="text-center">Tiền quá hạn</th>
		<th width="11%" class="text-center">Sách rách/mất</th>
        </tr>
        <tr>
        <td>1</td>
        <td>Stan</td>
        <td>Foo</td>
        <td>01/01/1994</td>
        <td>Son</td>
        <td><input type="checkbox"/></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-6 col-md-push-8">
            <label style="width: 20%">Tổng phí phạt: </label>
            <input type="text" readonly="readonly" />
        </div>
    </div>
    <div class="row ticket-item" style="margin-top: 20px">
        <div class="col-md-2 col-md-push-4">
	        <a class="ticket-btn" href="#">Trả sách</a>
        </div>
        <div class="col-md-2 col-md-push-5">
			<a class="ticket-btn" href="#">Thoát</a>
        </div>
    </div>
</div>