.search-box {
  text-align: right;
  margin-top: 33px;
  position: relative;
}

.search-box input {
  margin-top: 0px;
}

.search-box input[type="submit"] {
  background-color: transparent;
  position: absolute;
  width: 34px;
  height: 34px;
  right: 0;
  top: 0;
  border: 0;
  content: '';
  color: transparent;
  background: url(../images/search-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.search-box input#s {
  padding: 4px 10px 4px 10px;
  height: 34px;
  /*height: 100%;*/
  line-height: 34px;
  outline: 0;
  border: 1px solid #ddd;
}
