<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=QuanLyThuVien</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">sa</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="entity.Nhaxuatban"/>
    <mapping class="entity.Tacgia"/>
    <mapping class="entity.Chude"/>
    <mapping class="entity.User"/>
    <mapping class="entity.Nguoidangky"/>
    <mapping class="entity.Banphat"/>
    <mapping class="entity.Loptaphuan"/>
    <mapping class="entity.Vitri"/>
    <mapping class="entity.Nhomsach"/>
    <mapping class="entity.Phong"/>
    <mapping class="entity.Thongtinmuontra"/>
    <mapping class="entity.Sach"/>
    <mapping class="entity.Docgia"/>
    <mapping class="entity.Nhanvien"/>
    <mapping class="entity.Lichsumuonphong"/>
    <mapping class="entity.Thugopy"/>
  </session-factory>
</hibernate-configuration>
